  <body>
    <header> 
      <%- include('./partials/header'); %>
    </header>
  
    <%- include('./partials/tracknutriform'); %>

    <h2 id="nutri-diary-h2">Nutrition Diary <%= data[0]?.date.toLocaleDateString() %></h2>
    
    <div class="nutridata">
   
   <h3>Breakfast</h3>
   <table class="diary breakfast"> 
     <tr class="nutrition-column-names">
       <td>Food Item</td>
       <td>Portion</td>
       <td>Unit</td>
       <td>Calories</td>
       <td>Carbs</td>
       <td>Fat</td>
       <td>Protein</td>
     </tr>
     <% data.forEach((record) => { %>
      <% if (record.mealType?.toString() == 'breakfast') { %>
     <tr>
       <th><%= record.foodType %></th>
       <th><%= record.portion %></th>
       <th><%= record.portionUnit %></th>
       <th><%= record.calories %></th>
       <th><%= record.carbs %></th>
       <th><%= record.fat %></th>
       <th><%= record.protein %></th> 
       <th><button><a href="/nutri/update/<%= record.id %> ">Edit</a></button></th> 
       <th> 
        <form action="/nutri/delete/<%= record.id %>?_method=DELETE" method="post">
          <button type="submit">Delete</button>
       </th> 
     </tr> 
      <% }%>
     <% }) %>
   </table>


   <h3>Lunch</h3>
   <table class="diary lunch"> 
     <tr class="nutrition-column-names">
       <td>Food Item</td>
       <td>Portion</td>
       <td>Unit</td>
       <td>Calories</td>
       <td>Carbs</td>
       <td>Fat</td>
       <td>Protein</td>
     </tr>
     <% data.forEach((record) => { %>
      <% if (record.mealType?.toString() == 'lunch') { %>
     <tr>
       <th><%= record.foodType %></th>
       <th><%= record.portion %></th>
       <th><%= record.portionUnit %></th>
       <th><%= record.calories %></th>
       <th><%= record.carbs %></th>
       <th><%= record.fat %></th>
       <th><%= record.protein %></th> 
       <th><button><a href="/nutri/update/<%= record.id %> ">Edit</a></button></th> 
       <th>
        <form action="/nutri/delete/<%= record.id %>?_method=DELETE" method="post">
          <button type="submit">Delete</button>
       </th> 
     </tr> 
      <% }%>
     <% }) %>
   </table>

   <h3>Dinner</h3>
   <table> 
     <tr class="nutrition-column-names">
       <td>Food Item</td>
       <td>Portion</td>
       <td>Unit</td>
       <td>Calories</td>
       <td>Carbs</td>
       <td>Fat</td>
       <td>Protein</td>
     </tr>
     <% data.forEach((record) => { %>
      <% if (record.mealType?.toString() == 'dinner') { %>
     <tr>
       <th><%= record.foodType %></th>
       <th><%= record.portion %></th>
       <th><%= record.portionUnit %></th>
       <th><%= record.calories %></th>
       <th><%= record.carbs %></th>
       <th><%= record.fat %></th>
       <th><%= record.protein %></th>  
       <th><button><a href="/nutri/update/<%= record.id %> ">Edit</a></button></th> 
       <th>
        <form action="/nutri/delete/<%= record.id %>?_method=DELETE" method="post">
          <button type="submit">Delete</button>
       </th> 
     </tr> 
      <% }%>
     <% }) %>
   </table>


   <h3>Snacks</h3>
   <table> 
     <tr class="nutrition-column-names">
       <td>Food Item</td>
       <td>Portion</td>
       <td>Unit</td>
       <td>Calories</td>
       <td>Carbs</td>
       <td>Fat</td>
       <td>Protein</td>
     </tr>
     <% data.forEach((record) => { %>
      <% if (record.mealType?.toString() == 'snack') { %>
     <tr>
       <th><%= record.foodType %></th>
       <th><%= record.portion %></th>
       <th><%= record.portionUnit %></th>
       <th><%= record.calories %></th>
       <th><%= record.carbs %></th>
       <th><%= record.fat %></th>
       <th><%= record.protein %></th> 
       <th><button><a href="/nutri/update/<%= record.id %> ">Edit</a></button></th> 
       <th>
        <form action="/nutri/delete/<%= record.id %>?_method=DELETE" method="post">
          <button type="submit">Delete</button>
       </th>  
     </tr> 
      <% }%>
     <% }) %>
   </table>
  </div>

    <footer>
      <%- include('./partials/footer'); %>
    </footer>
    
  </body>

</html>