  <body>
    <header> 
      <%- include('./partials/header'); %>
    </header>
  
    <%- include('./partials/tracknutriform'); %>

    <h2>Nutrition Diary</h2>

   <h3>Breakfast</h3>
   <table> 
     <tr class="nutrition-column-names">
       <td>Date</td>
       <td>Food Item</td>
       <td>Portion</td>
       <td>Unit</td>
       <td>Calories</td>
       <td>Carbs</td>
       <td>Fat</td>
       <td>Protein</td>
     </tr>
     <% data.forEach((record) => { %>
      <% if (record.mealType.toString() == 'breakfast') { %>
     <tr>
       <th><%= record.date %></th>
       <th><%= record.foodType %></th>
       <th><%= record.portion %></th>
       <th><%= record.portionUnit %></th>
       <th><%= record.calories %></th>
       <th><%= record.carbs %></th>
       <th><%= record.fat %></th>
       <th><%= record.protein %></th>  
     </tr> 
      <% }%>
     <% }) %>
   </table>


   <h3>Lunch</h3>
   <table> 
     <tr class="nutrition-column-names">
       <td>Date</td>
       <td>Food Item</td>
       <td>Portion</td>
       <td>Unit</td>
       <td>Calories</td>
       <td>Carbs</td>
       <td>Fat</td>
       <td>Protein</td>
     </tr>
     <% data.forEach((record) => { %>
      <% if (record.mealType.toString() == 'lunch') { %>
     <tr>
       <th><%= record.date %></th>
       <th><%= record.foodType %></th>
       <th><%= record.portion %></th>
       <th><%= record.portionUnit %></th>
       <th><%= record.calories %></th>
       <th><%= record.carbs %></th>
       <th><%= record.fat %></th>
       <th><%= record.protein %></th>  
     </tr> 
      <% }%>
     <% }) %>
   </table>

   <h3>Dinner</h3>
   <table> 
     <tr class="nutrition-column-names">
       <td>Date</td>
       <td>Food Item</td>
       <td>Portion</td>
       <td>Unit</td>
       <td>Calories</td>
       <td>Carbs</td>
       <td>Fat</td>
       <td>Protein</td>
     </tr>
     <% data.forEach((record) => { %>
      <% if (record.mealType.toString() == 'dinner') { %>
     <tr>
       <th><%= record.date %></th>
       <th><%= record.foodType %></th>
       <th><%= record.portion %></th>
       <th><%= record.portionUnit %></th>
       <th><%= record.calories %></th>
       <th><%= record.carbs %></th>
       <th><%= record.fat %></th>
       <th><%= record.protein %></th>  
     </tr> 
      <% }%>
     <% }) %>
   </table>


   <h3>Snacks</h3>
   <table> 
     <tr class="nutrition-column-names">
       <td>Date</td>
       <td>Food Item</td>
       <td>Portion</td>
       <td>Unit</td>
       <td>Calories</td>
       <td>Carbs</td>
       <td>Fat</td>
       <td>Protein</td>
     </tr>
     <% data.forEach((record) => { %>
      <% if (record.mealType.toString() == 'snack') { %>
     <tr>
       <th><%= record.date %></th>
       <th><%= record.foodType %></th>
       <th><%= record.portion %></th>
       <th><%= record.portionUnit %></th>
       <th><%= record.calories %></th>
       <th><%= record.carbs %></th>
       <th><%= record.fat %></th>
       <th><%= record.protein %></th>  
     </tr> 
      <% }%>
     <% }) %>
   </table>


    <footer>
      <%- include('./partials/footer'); %>
    </footer>
    
  </body>

</html>